h2{
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card{
    text-align: center;
   background-color: rgb(241, 231, 231);
   margin: 50px 100px;
   border-radius: 5px;
}